*{
  margin: 0;
  padding: 0;
}
body{
  background: hsl(0deg 0% 95%);
  height: 100%;
  min-height: 100vh;
}
.grid{
  border-radius: 30px;
  padding: 10px 15px;
  text-decoration: none; 
}
p{
  font-family: 'Lexend Deca', sans-serif;
  margin-top: 30px;
}
main{
  margin: auto;
  height: 100vh;
}
.big-one{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 70px 50px;
}
button{
  border-radius: 25px;
  padding: 15px 30px;
  background: #f1f3f0;
  margin-top: 100px;
  margin-left: 35px;
  font-family: 'Lexend Deca', sans-serif;
  cursor: pointer;
}
h2{
  font-size: 30px;
  font-family:'Big Shoulders Display', cursive;
  text-transform: uppercase;
}
.orange{
  background: #e28525;
  font-size: 16px;
  color: white;
  height: 400px;
  width: 210px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 50px 50px;
}
.orange-butt{
  border: 1px solid  #e28525;
  color: #e28525;
}
.teal{
  background: #016972;
  font-size: 16px;
  color: white;
  height: 400px;
  width: 210px;
  padding: 50px 50px;
}
.teal-butt{
  border: 1px solid #016972;
  color: #016972;
}
.dark-green{
  background: #00403f;
  font-size: 16px;
  color: white;
  height: 400px;
  width: 210px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 50px 50px;
}
.dgreen-butt{
  border: 1px solid #00403f;
  color: #00403f;
  margin-top: 80px;
}

@media screen and (max-width: 1024px){
  .teal-butt{
    margin-top: 103px;
  }
  .orange-butt{
    margin-top: 83px;
  }
}

@media screen and (max-width: 995.9px){
  .dgreen-butt{
    margin-top: 80px;
  }
}

@media screen and (max-width: 955px){
  .dgreen-butt{
    margin-top: 99px;
  }
  button{
    margin-left: 27px;
  }
}

@media screen and (max-width: 900px){
  button{
    margin-left: 19px;
  }
}

@media screen and (max-width: 880px){
  .dgreen-butt{
    margin-top: 81px;
  }
  .orange-butt{
    margin-top: 81px;
  }
  button{
    margin-left: 15px;
  }
}

@media screen and (max-width: 768px){
  button{
    padding: 10px 16px;
    margin-left: 9px;
    margin-top: 60px;
  }
  .orange{
    width: 235px;
  }
  .teal{
    width: 235px;
  }
  .dark-green{
    width: 235px;
  }
  .big-one{
    padding: 70px 30px;
  }
  .dgreen-butt{
    margin-top: 40px;
  }
  .orange-butt{
    margin-top: 60px;
  }
}

@media screen and (max-width: 480px){
  main{
    margin: auto;
    height: 100vh;
  }
  .big-one{
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  .orange{
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }
  .dark-green{
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
  }
  button{
    margin-top: 90px;
  }
  p{
  margin-top: 50px;
  }
  .dgreen-butt{
    margin-top: 70px;
  }
}
